.opacidade {
    background: rgba(0, 0, 0, 0.877);
}



.caixa {
    border-bottom: 1px solid #e5e5e5;
    padding: 60px 0;
}

.btn-purple {
    background: #642E7C;
    color: #fff;
}

.btn-purple:hover {
    background: #421e52;
}

footer p a {
    margin: 5px 15px;
}

@media (min-width:430px) and (min-height: 932px) {
    .mb-6 {
    margin-bottom: 7rem !important;
}
}

@media (min-width:412px) and (min-height: 915px) {
    .mb-6 {
    margin-bottom: 7rem !important;
}
}

@media (min-width:768px) and (min-height: 1024px) {
    .mb-7 {
    margin-bottom: 15rem !important;
}
}

@media (min-width:820px) and (min-height: 1180px) {
    .mb-8 {
    margin-bottom: 25rem !important;
}
}

@media (min-width:912px) and (min-height: 1368px) {
    .mb-9 {
    margin-bottom: 35rem !important;
}
}

@media (min-width:412px) and (min-height: 914px) {
    .mb-5 {
    margin-bottom: 10rem !important;
}
}